<html lang="en">
    <head>
        <title>Plumon</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-tagsinput.css" />
        <script type="text/javascript" src="/javascripts/jquery.1.10.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap-tagsinput.js"></script>
        <script type="text/javascript" src="/javascripts/m.js"></script>
    </head>
    <body>
        <div class="mycontainer">
            <%- include top.ejs %>
            <div class="leftbox">
                <!--<div class="newnotebuttonrow">-->
                    <!--<button class="btn-info btn-sm" id="newnote">新的Plumon!</button>-->
                <!--</div>-->
                <div id="notelist">
                    <% docs.forEach(function(p,index){ %>
                        <div class="note">
                            <div class="noteleft">
                                <div class="userinfo"><img src="/images/avatar/bubbles.png" /></div>
                            </div>
                            <div class="noteright">
                                <div class="ntitle"><a href="/note/<%= p.title %>"><%= p.title %></a></div>
                                <div class="ncodes">
                                    <%= (p.codes.length>300)?(p.codes.substring(0,300)+"..."):p.codes %>
                                </div>
                                <% if(p.tags){%>
                                <div class="ntags">
                                    <span>标签：</span>
                                    <% p.tags.forEach(function(t,index){ %>
                                        <a href="%"><%= t %></a>
                                     <% }) %>
                                </div>
                                <% } %>
                                <div class="ninfo">
                                    <span>发表于：<%= gettime(p.time) %></span>
                                    <span>浏览：<%= (p.pv)?p.pv:"0" %></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                       </div>
                    <% }) %>

                </div>
            </div>
            <div class="rightbox">
                <%- include userbox.ejs %>
            </div>
            <div class="clear"></div>
            <%- include bottom.ejs %>
            <%
                function gettime(time){
                    var date = new Date(time);
                    var d = date.getFullYear()+"-";
                    d+=(date.getMonth()+1)+"-";
                    d+=date.getDate();
                    return d;
                }
            %>
        </div>
    </body>
</html>