<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/javascripts/jquery.1.10.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="/javascripts/n.js"></script>
</head>
<body>
    <div class="mycontainer">
        <%- include top.ejs %>
        <div class="leftbox">
            <h1>新的代码段</h1>
            <div class="newnotebox">
                <div class="center">
                    <input type="text" id="tbtitle" placeholder="输入代码段的标题" /></div>
                <div>
                    <form method="post" action="/upload" enctype="multipart/form-data" target="uploaded_file" name="upload_form" id="upload_form">
                        <input type="file" id="upload_file" name="upload_file" /><input type="submit" />
                        <div class="hidden">
                            <input type="text" name="id" value="<%= id %>" />
                        </div>
                    </form>
                    <iframe src="/upfiles/<%= id %>" name="uploaded_file" id="uploaded_file" ></iframe>
                </div>
                <div class="center">
                    <textarea id="tbcontent" placeholder="输入代码段的内容" rows="10"></textarea>
                </div>
                <div>
                    <span>标签：</span><input type="input" id="tags" data-role="tagsinput" />
                </div>

                <div class="settingrow">
                    <span>公开：</span>
                    <span><input type="radio" name="open" checked="checked" value="public"/>公开</span>
                    <span><input type="radio" name="open" value="private" />私藏</span>
                </div>
                <div class="right">
                    <input type="submit" value="提交"id="btnsave" class="btn btn-success" />
                    <button id="btncancel" class="btn btn-info">取消</button>
                </div>
            </div>

        </div>
        <div class="rightbox">
            <%- include userbox.ejs %>
        </div>
        <div class="clear"></div>
        <%- include bottom.ejs %>
    </div>
</body>
</html>