<html lang="en">
    <head>
        <title>我的代码段</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-tagsinput.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script type="text/javascript" src="/javascripts/jquery.1.10.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap-tagsinput.js"></script>
        <script type="text/javascript" src="/javascripts/note.js" ></script>

    </head>
    <body>
        <%- include top.ejs %>
        <div class="mycontainer">
            <div class="sharerow">
                    <span>
                <script type="text/javascript">
                    (function(){
                        var p = {
                            url:location.href,
                            showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
                            desc:'',/*默认分享理由(可选)*/
                            summary:'',/*分享摘要(可选)*/
                            title:'',/*分享标题(可选)*/
                            site:'',/*分享来源 如：腾讯网(可选)*/
                            pics:'', /*分享图片的路径(可选)*/
                            style:'101',
                            width:199,
                            height:30
                        };
                        var s = [];
                        for(var i in p){
                            s.push(i + '=' + encodeURIComponent(p[i]||''));
                        }
                        document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
                    })();
                </script>
                <script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
                </span>
            </div>
            <div class="titlebox">
                <div class="titlerow titleshadow"><%= (note.source)?'[转帖]':'' %><%= note.title %></div>
                <% var d=note.time;
                var date = new Date(d);
                var dt = date.getFullYear()+"-";
                dt += (date.getMonth()+1)+"-";
                dt += date.getDate()+" ";
                dt+= date.getHours()+":";
                dt+=date.getMinutes()+":";
                dt+=date.getSeconds()+""; %>
                <div class="inforow">
                    <span class="author">作者：<a href="/user/<%= note.user %>"><%= note.user %></a></span>
                    <span class="date">发表日期：<%= dt %></span>
                    <% if(note.source && note.source.id){ %><span>转载自：</span><a href="/note/<%= note.source.id %>"><%= note.source.user %></a><% } %>
                </div>
            </div>
            <div class="funcrow">
                <% if(u && u.name && note.user != u.name){%><span id="zz" class="funcbutton">我要转帖！</span><%}%>
                <% if(u && u.name && note.user == u.name){%><span id="del" class="funcbutton">删除</span><%}%>
            </div>
            <div class="tagsrow">
                <span>标签： </span>
                <% for(var t in note.tags){ %>
                <span class="label label-primary"><a href="/tag/<%= t %>" class="tag"><%= note.tags[t] %></a></span>
                <% } %>
            </div>
            <div class="flowrow">
            </div>
            <div class="codesrow">
                <pre><%= note.codes %>
                </pre>
            </div>
        </div>
    <div class="hidden">
        <input type="text" id="hdid" value="<%= note._id %>" />
        <input type="text" id="hduser" value="<%= (u && u.name)?(u.name):'' %>"
    </div>
    </body>
</html>